<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2024 IGinX of Tsinghua University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<assembly>
    <id>server</id>
    <formats>
        <format>dir</format>
        <format>tar.gz</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <componentDescriptors>
        <componentDescriptor>src/assembly/component/iginx-core.xml</componentDescriptor>
    </componentDescriptors>
    <moduleSets>
        <moduleSet>
            <useAllReactorProjects>true</useAllReactorProjects>
            <includes>
                <include>cn.edu.tsinghua:filesystem</include>
                <include>cn.edu.tsinghua:influxdb</include>
                <include>cn.edu.tsinghua:iotdb12</include>
                <include>cn.edu.tsinghua:mongodb</include>
                <include>cn.edu.tsinghua:parquet</include>
                <include>cn.edu.tsinghua:postgresql</include>
                <include>cn.edu.tsinghua:redis</include>
            </includes>
            <sources>
                <includeModuleDirectory>false</includeModuleDirectory>
                <fileSets>
                    <fileSet>
                        <directory>${project.build.directory}/driver</directory>
                        <outputDirectory>driver</outputDirectory>
                    </fileSet>
                </fileSets>
            </sources>
        </moduleSet>
    </moduleSets>
</assembly>