name: "Capacity-Expansion-Test"
on:
    pull_request:
        types: [opened, reopened]
        branches:
            - main
env:
    VERSION: 0.6.0-SNAPSHOT
    FUNCTEST: NewSessionIT,SQLCompareIT,TagIT,RestIT,TransformIT,RestAnnotationIT,SQLSessionIT,SQLSessionPoolIT,SessionV2IT,SessionIT,SessionPoolIT,CompactionIT,TimePrecisionIT
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    DB-CE:
        timeout-minutes: 45
        strategy:
            fail-fast: false
            matrix:
                java: [8]
                python-version: ["3.7"]
                os: [ubuntu-latest, macos-latest]
                DB-name: ["IoTDB12", "InfluxDB"]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
            - name: Environment dependence
              uses: ./.github/actions/dependence
              with:
                  python-version: ${{ matrix.python-version }}
                  java: ${{ matrix.java }}
            - name: Run ZooKeeper
              uses: ./.github/actions/zookeeperRunner

            - name: Run DB
              uses: ./.github/actions/dbRunner
              with:
                  version: ${{matrix.DB-name}}

            - name: Set the DB name
              uses: ./.github/actions/confWriter
              with:
                  confFile: DBName
                  DB-name: ${{matrix.DB-name}}

            - name: Install IGinX with Maven
              shell: bash
              run: |
                  mvn clean package -DskipTests -P passFormat -q

            - name: Set the UDF conf
              uses: ./.github/actions/confWriter
              with:
                  confFile: UDFConf

            #第 1 阶段测试开始==========================================
            - name: Prepare CapExp environment oriHasDataExpHasData
              uses: ./.github/actions/capacityExpansionUnionTest
              with:
                  version: ${VERSION}
                  DB-name: ${{matrix.DB-name}}
                  Test-Way: oriHasDataExpHasData
            - name: oriHasDataExpHasData IT
              run: |
                  sleep 10
                  mvn test -q -Dtest=${{matrix.DB-name}}CapacityExpansionIT#oriHasDataExpHasData -DfailIfNoTests=false -P passFormat
                  mvn test -q -Dtest=${FUNCTEST} -DfailIfNoTests=false -P passFormat
            #第 2 阶段测试开始==========================================
            - name: Prepare CapExp environment oriNoDataExpNoData
              uses: ./.github/actions/capacityExpansionUnionTest
              with:
                  version: ${VERSION}
                  DB-name: ${{matrix.DB-name}}
                  Test-Way: oriNoDataExpNoData
            - name: oriNoDataExpNoData IT
              run: |
                  sleep 10
                  mvn test -q -Dtest=${{matrix.DB-name}}CapacityExpansionIT#oriNoDataExpNoData -DfailIfNoTests=false -P passFormat
                  mvn test -q -Dtest=${FUNCTEST} -DfailIfNoTests=false -P passFormat
            #第 3 阶段测试开始==========================================
            - name: Prepare CapExp environment oriHasDataExpNoData
              uses: ./.github/actions/capacityExpansionUnionTest
              with:
                  version: ${VERSION}
                  DB-name: ${{matrix.DB-name}}
                  Test-Way: oriHasDataExpNoData
            - name: oriHasDataExpNoData IT
              run: |
                  sleep 10
                  mvn test -q -Dtest=${{matrix.DB-name}}CapacityExpansionIT#oriHasDataExpNoData -DfailIfNoTests=false -P passFormat
                  nohup mvn test -q -Dtest=${FUNCTEST} -DfailIfNoTests=false -P passFormat > test.log 2>&1 &
                  tail -f iginx.log
            #第 4 阶段测试开始==========================================
            - name: Prepare CapExp environment oriNoDataExpHasData
              uses: ./.github/actions/capacityExpansionUnionTest
              with:
                  version: ${VERSION}
                  DB-name: ${{matrix.DB-name}}
                  Test-Way: oriNoDataExpHasData
            - name: oriNoDataExpHasData IT
              run: |
                  sleep 10
                  mvn test -q -Dtest=${{matrix.DB-name}}CapacityExpansionIT#oriNoDataExpHasData -DfailIfNoTests=false -P passFormat
                  mvn test -q -Dtest=${FUNCTEST} -DfailIfNoTests=false -P passFormat
            - uses: codecov/codecov-action@v1
              with:
                  file: ./**/target/site/jacoco/jacoco.xml
                  name: codecov

    Parquet-Capacity-Expansion-ds:
        strategy:
            fail-fast: false
            matrix:
                java: [8]
                python-version: ["3.7"]
                os: [ubuntu-latest, macos-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v3
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install Python dependencies
              run: |
                  python -m pip install --upgrade pip
            - name: Set up JDK ${{ matrix.java }}
              uses: actions/setup-java@v1
              with:
                  java-version: ${{ matrix.java }}
            - name: Cache Maven packages
              uses: actions/cache@v2.1.5
              with:
                  path: ~/.m2
                  key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
                  restore-keys: ${{ runner.os }}-m2
            - name: Run ZooKeeper
              run: |
                  if [ "$RUNNER_OS" == "Linux" ]; then
                    chmod +x "${GITHUB_WORKSPACE}/.github/zk.sh"
                    "${GITHUB_WORKSPACE}/.github/zk.sh"
                  elif [ "$RUNNER_OS" == "macOS" ]; then
                    chmod +x "${GITHUB_WORKSPACE}/.github/zk_macos.sh"
                    "${GITHUB_WORKSPACE}/.github/zk_macos.sh"
                  else
                    echo "$RUNNER_OS is not supported"
                    exit 1
                  fi
            - name: Set Parquet
              run: |
                  if [ "$RUNNER_OS" == "Linux" ]; then
                    chmod +x "${GITHUB_WORKSPACE}/.github/parquet.sh"
                    "${GITHUB_WORKSPACE}/.github/parquet.sh"
                  elif [ "$RUNNER_OS" == "macOS" ]; then
                    chmod +x "${GITHUB_WORKSPACE}/.github/parquet_macos.sh"
                    "${GITHUB_WORKSPACE}/.github/parquet_macos.sh"
                  else
                    echo "$RUNNER_OS is not supported"
                    exit 1
                  fi
            - name: Install with Maven
              run: mvn clean package -DskipTests -q
            - name: Write history Data
              run: |
                  mvn test -q -Dtest=ParquetHistoryDataGeneratorTest -DfailIfNoTests=false
                  sleep 10
            - name: Start IGinX
              run: |
                  chmod +x "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh"
                  nohup "${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/sbin/start_iginx.sh" &
            - name: A Lame Integration Test with Maven for parquet
              run: mvn test -q -Dtest=ParquetCapacityExpansionIT -DfailIfNoTests=false
            - uses: codecov/codecov-action@v1
              with:
                  file: ./**/target/site/jacoco/jacoco.xml
                  name: codecov
