name: "Union Database Test"
on:
    pull_request:
        types: [opened, reopened]
        branches:
            - main
env:
    VERSION: 0.6.0-SNAPSHOT
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    Union-DB-Test:
        timeout-minutes: 30
        strategy:
            fail-fast: false
            matrix:
                java: [8]
                python-version: ["3.7.16"]
                os: [ubuntu-latest, macos-latest]
                DB-name:
                    [
                        "IoTDB12",
                        "InfluxDB",
                        "Parquet",
                        "PostgreSQL",
                        "FileSystem",
                        "Redis",
                    ]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
            - name: Environment dependence
              uses: ./.github/actions/dependence
              with:
                  python-version: ${{ matrix.python-version }}
                  java: ${{ matrix.java }}

            - name: Run ZooKeeper
              uses: ./.github/actions/zookeeperRunner

            - name: Run DB
              uses: ./.github/actions/dbRunner
              with:
                  DB-name: ${{ matrix.DB-name }}

            - name: Install IGinX with Maven
              shell: bash
              run: |
                  mvn clean package -DskipTests -P-format -q

            - name: Change IGinX config
              uses: ./.github/actions/confWriter
              with:
                  DB-name: ${{ matrix.DB-name }}

            # start udf path test first to avoid being effected
            -   name: Start IGinX
                uses: ./.github/actions/iginxRunner
                with:
                    version: ${VERSION}
                    if-test-udf: "true"

            -   name: Run UDF path test
                run: |
                    mvn test -q -Dtest=UDFPathIT -DfailIfNoTests=false -P-format

            -   name: Show UDF Path Test IGinX log
                if: always()
                shell: bash
                run: |
                    cat iginx.log

            -   name: Restore UDF Config
                if: always()
                shell: bash
                run: |
                    if [ "$RUNNER_OS" == "Linux" ]; then
                        sudo sed -i 's/needInitBasicUDFFunctions=true/needInitBasicUDFFunctions=false/g' ${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/conf/config.properties
                    elif [ "$RUNNER_OS" == "macOS" ]; then
                        sudo sed -i '' 's/needInitBasicUDFFunctions=true/needInitBasicUDFFunctions=false/' ${GITHUB_WORKSPACE}/core/target/iginx-core-${VERSION}/conf/config.properties
                    else
                        echo "$RUNNER_OS is not supported"
                        exit 1
                    fi

            # start db test
            -   name: Stop IGinX
                uses: /.github/actions/iginxRunner
                with:
                    version: ${VERSION}
                    if-stop: true

            -   name: Stop and clear ZooKeeper
                uses: ./.github/actions/zookeeperRunner
                with:
                    if-stop: true

            -   name: Run ZooKeeper
                uses: ./.github/actions/zookeeperRunner
                with:
                    if-rerun: true

            - name: Start IGinX
              uses: ./.github/actions/iginxRunner

            - name: TestController IT
              if: always()
              shell: bash
              run: |
                  chmod +x "${GITHUB_WORKSPACE}/.github/scripts/test/test_union.sh"
                  mvn test -q -Dtest=Controller -DfailIfNoTests=false -P-format

            - name: Show test result
              if: always()
              shell: bash
              run: |
                  cat ${GITHUB_WORKSPACE}/test/src/test/resources/testResult.txt

            - name: Show IGinX log
              if: always()
              shell: bash
              run: |
                  cat iginx.log
