name: Standard Test Suite

on:
    pull_request: # when a PR is opened or reopened
        types: [opened, reopened]
        branches:
            - main

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    unit-test:
        uses: ./.github/workflows/unit-test.yml
    unit-mds:
        uses: ./.github/workflows/unit-mds.yml
    case-regression:
        uses: ./.github/workflows/case-regression.yml
        with:
            metadata-matrix: '["zookeeper"]'
    standalone-test:
        uses: ./.github/workflows/standalone-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
    standalone-test-no-optimizer:
        uses: ./.github/workflows/standalone-test-no-optimizer.yml
        with:
            metadata-matrix: '["zookeeper"]'
    db-ce:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
    db-ce-no-optimizer:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
            close-optimizer: "true"
    standalone-test-dameng:
        uses: ./.github/workflows/standalone-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "windows-latest"]'
            db-matrix: '["Dameng"]'
            timeout-minutes: 60
    standalone-test-no-optimizer-dameng:
        uses: ./.github/workflows/standalone-test-no-optimizer.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "windows-latest"]'
            db-matrix: '["Dameng"]'
            timeout-minutes: 60
    db-ce-dameng:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "windows-latest"]'
            db-matrix: '["Dameng"]'
            functest: "NewSessionIT,SQLCompareIT,TagIT,RestIT,TransformIT,UDFIT,RestAnnotationIT,SQLSessionIT,SQLSessionPoolIT,SessionV2IT,CompactionIT,TimePrecisionIT,PySessionIT"
            timeout-minutes: 120
    db-ce-no-optimizer-dameng:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "windows-latest"]'
            db-matrix: '["Dameng"]'
            functest: "NewSessionIT,SQLCompareIT,TagIT,RestIT,TransformIT,UDFIT,RestAnnotationIT,SQLSessionIT,SQLSessionPoolIT,SessionV2IT,CompactionIT,TimePrecisionIT,PySessionIT"
            timeout-minutes: 120
            close-optimizer: "true"
    standalone-test-vectordb:
        uses: ./.github/workflows/standalone-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "windows-latest"]'
            db-matrix: '["VectorDB"]'
            timeout-minutes: 300
    standalone-test-no-optimizer-vectordb:
        uses: ./.github/workflows/standalone-test-no-optimizer.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "windows-latest"]'
            db-matrix: '["VectorDB"]'
            timeout-minutes: 300
    db-ce-vectordb:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "windows-latest"]'
            db-matrix: '["VectorDB"]'
            functest: "NewSessionIT,SQLCompareIT,TagIT,RestIT,TransformIT,UDFIT,RestAnnotationIT,SQLSessionIT,SQLSessionPoolIT,SessionV2IT,CompactionIT,TimePrecisionIT,PySessionIT"
            timeout-minutes: 360
    db-ce-no-optimizer-vectordb:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "windows-latest"]'
            db-matrix: '["VectorDB"]'
            functest: "NewSessionIT,SQLCompareIT,TagIT,RestIT,TransformIT,UDFIT,RestAnnotationIT,SQLSessionIT,SQLSessionPoolIT,SessionV2IT,CompactionIT,TimePrecisionIT,PySessionIT"
            timeout-minutes: 360
            close-optimizer: "true"
    remote-test:
        uses: ./.github/workflows/remote-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
    assembly-test:
        uses: ./.github/workflows/assembly-test.yml
    free-thread-test:
        uses: ./.github/workflows/free-thread-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
    tpc-h-regression-test:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
    tpc-h-regression-test-no-optimizer:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
            close-optimizer: "true"
    tpc-h-regression-test-dameng:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
            db-matrix: '["Dameng"]'
            timeout-minutes: 60
    tpc-h-regression-test-no-optimizer-dameng:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
            db-matrix: '["Dameng"]'
            close-optimizer: "true"
            timeout-minutes: 60
    tpc-h-regression-test-vectordb:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
            db-matrix: '["VectorDB"]'
            timeout-minutes: 360
    tpc-h-regression-test-no-optimizer-vectordb:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
            db-matrix: '["VectorDB"]'
            close-optimizer: "true"
            timeout-minutes: 360
