name: Standard Test Suite

on:
    pull_request: # when a PR is opened or reopened
        types: [opened, reopened]
        branches:
            - main

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    unit-test:
        uses: ./.github/workflows/unit-test.yml
    unit-mds:
        uses: ./.github/workflows/unit-mds.yml
    case-regression:
        uses: ./.github/workflows/case-regression.yml
        with:
            metadata-matrix: '["zookeeper"]'
    standalone-test:
        uses: ./.github/workflows/standalone-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
    standalone-test-no-optimizer:
        uses: ./.github/workflows/standalone-test-no-optimizer.yml
        with:
            metadata-matrix: '["zookeeper"]'
    db-ce:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
    db-ce-no-optimizer:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
            close-optimizer: "true"
    standalone-test-vectordb:
        uses: ./.github/workflows/standalone-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            db-matrix: '["VectorDB"]'
            timeout-minutes: 200
    standalone-test-no-optimizer-vectordb:
        uses: ./.github/workflows/standalone-test-no-optimizer.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            db-matrix: '["VectorDB"]'
            timeout-minutes: 260
    db-ce-vectordb:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            db-matrix: '["VectorDB"]'
            timeout-minutes: 360
    db-ce-no-optimizer-vectordb:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest", "macos-latest", "windows-latest"]'
            db-matrix: '["VectorDB"]'
            timeout-minutes: 360
            close-optimizer: "true"
    remote-test:
        uses: ./.github/workflows/remote-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
    assembly-test:
        uses: ./.github/workflows/assembly-test.yml
    tpc-h-regression-test:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
    tpc-h-regression-test-no-optimizer:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
            db-matrix: '["IoTDB12", "InfluxDB", "FileSystem", "PostgreSQL", "Redis", "MongoDB", "MySQL"]'
            close-optimizer: "true"
    tpc-h-regression-test-vectordb:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
            db-matrix: '["VectorDB"]'
            timeout-minutes: 360
    tpc-h-regression-test-no-optimizer-vectordb:
        uses: ./.github/workflows/tpc-h.yml
        with:
            os-matrix: '["ubuntu-latest"]'
            metadata-matrix: '["zookeeper"]'
            db-matrix: '["VectorDB"]'
            close-optimizer: "true"
            timeout-minutes: 360
