name: Standard Test Suite

on:
    pull_request: # when a PR is opened or reopened
        types: [opened, reopened]
        branches:
            - main

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    standalone-test:
        uses: ./.github/workflows/standalone-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
    standalone-test-pushdown:
        uses: ./.github/workflows/standalone-test-pushdown.yml
        with:
            metadata-matrix: '["zookeeper"]'
    db-ce:
        uses: ./.github/workflows/DB-CE.yml
        with:
            metadata-matrix: '["zookeeper"]'