name: tests

on:
    pull_request: # when a PR is opened or reopened
        types: [opened, reopened]
        branches:
            - main

concurrency:
    group: "${{ github.workflow }}-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    standalone-test:
        uses: ./.github/workflows/standalone-test.yml
        with:
            metadata-matrix: '["zookeeper"]'
            os-matrix: '["ubuntu-latest"]'
            db-matrix: '["IoTDB12"]'
