name: "UTTest"

on:
    pull_request:
        types: [opened, reopened]
        branches:
            - main
    schedule:
        - cron: "0 0 * * 0" # every Sunday
env:
    VERSION: 0.6.0-SNAPSHOT

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    Unit-Test:
        strategy:
            fail-fast: false
            matrix:
                java: [8]
                python-version: ["3.9"]
                os: [ubuntu-latest, macos-13, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2
            - name: Environment dependence
              uses: ./.github/actions/dependence
              with:
                  python-version: ${{ matrix.python-version }}
                  java: ${{ matrix.java }}

            - name: Test with Maven
              run: |
                  mvn clean package -pl core -am -P-format -q
